doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		include ./head
		block link
	body
		include ./header
		block content
		block footer
